#tuner {
  color:var(--settings-cyan);
}

.v-progress-linear .v-progress-linear__indeterminate .long, .v-progress-linear .v-progress-linear__indeterminate .short {
  background-color: var(--settings-cyan) !important;
}

.save-button-color {
  background-color: var(--blue) !important;
}
