.icon-margin {
    margin-right: 20px;
}

.titles {
    color: var(--settings-pink) !important;
}

.v-progress-linear .v-progress-linear__indeterminate .long, .v-progress-linear .v-progress-linear__indeterminate .short {
  background-color: var(--settings-cyan) !important;
}

